/* Styles for the mui autocomplete */
.MuiAutocomplete-paper {
  background: transparent !important;
}

.MuiAutocomplete-paper .MuiAutocomplete-noOptions,
.MuiAutocomplete-paper .MuiAutocomplete-listbox {
  background: linear-gradient(180deg, #1e1e1e 0%, #141414 100%);
  border-radius: 6px;
  border: 1px solid #4b4b4b;
  color: #ffffff;
  padding: 0;
}

.MuiAutocomplete-paper .MuiAutocomplete-noOptions {
  padding: 10px 12px;
  font-size: 14px;
  color: #c4c4c4;
}
