@font-face {
	font-family: 'Carmen Sans';
	font-weight: normal;
	font-style: normal;
	src: url('./CarmenSansRegular.otf');
}

@font-face {
	font-family: 'Carmen Sans SemiBold';
	font-weight: 600;
	font-style: normal;
	src: url('./CarmenSansSemiBold.otf');
}

@font-face {
	font-family: 'Carmen Sans Bold';
	font-weight: bold;
	font-style: normal;
	src: url('./CarmenSansBold.otf');
}

@font-face {
	font-family: 'Faktum';
	font-weight: normal;
	font-style: normal;
	src: url('./FaktumRegular.otf');
}

@font-face {
	font-family: 'Faktum Bold';
	font-weight: bold;
	font-style: normal;
	src: url('./FaktumBold.otf');
}

html, body {
	overflow-x: hidden;
	height: 100%;
	background-color: #0D0738;
}